* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Gilroy", sans-serif;
  color: #2e4e95;
  overflow-x: hidden;
  line-height: 1.5;
}

body.active {
  overflow: hidden;
}

html {
  overflow-x: hidden;
  scroll-behavior: smooth;
}

a {
  text-decoration: none;
  color: inherit;
}

li {
  list-style: none;
}

.login-main {
  min-height: 100vh;
  background-image: url('/admin/images/login-page2.png');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 0px -37px;
}

.login-size-wrapper {
  max-width: 1600px;
  margin: 0 auto;
}

.login-form-wrapper {
  display: flex;
  justify-content: space-between;
  margin-bottom: 5px;
}

.login-page__logo-prev {
  margin-left: 8%;
  margin-top: 130px;
  margin-right: 2%;
  max-height: 11vh;
}

.login-page__logo-img {
  width: 12vw;
}

.login-form__slide-wrap {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 58px 0px 0px 0px;
  transition: 1s;
}

.login-form-content {
  margin: 20px;
  position: relative;
  padding: 40px 40px 30px 40px;
  border-radius: 40px;
  box-shadow: 0 4px 16px #000;
  background: rgba(0, 0, 0, 0.41);
  backdrop-filter: blur(45px);
  -webkit-backdrop-filter: blur(45px);
  transition: 1.3s;
}

.login-form-content::after {
  content: '';
  position: absolute;
  width: 80px;
  height: 80px;
  top: 21px;
  right: 30px;
  background-image: url('/admin/images/logoAMG.svg');
  background-repeat: no-repeat;
}

.login__title {
  color: #ffffff;
  font-size: 48px;
  margin-bottom: 15px;
}

.login__text {
  color: #fff;
  font-size: 26px;
  margin-bottom: 40px;
}

.login-form {
  font-family: sans-serif;
  letter-spacing: 1px;
  margin-bottom: 15px;
}

.input-login,
.input-password,
.login-button {
  font-family: sans-serif;
  letter-spacing: 1px;
  font-size: 22px;
}

.login-group,
.password-group {
  position: relative;
  margin-bottom: 32px;
}

.label-login,
.label-password {
  position: absolute;
  top: 8px;
  left: 10px;
  font-size: 18px;
  color: #fff;
  transition: 0.3s;
}

.input-login,
.input-password {
  width: 100%;
  padding: 5px;
  border: none;
  border-bottom: 1px solid #fff;
  outline: none;
  color: #E8E8E8;
  background: transparent;
}

.input-login:focus,
.input-password:focus {
  border-bottom: 1px solid #c5c579;
}

.login-button {
  padding: 10px 50px;
  border-radius: 5px;
  margin-right: 10px;
  color: #fff;
  background: rgba(255, 238, 226, 0.01);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  backdrop-filter: blur(25px);
  -webkit-backdrop-filter: blur(25px);
  border: none;
  cursor: pointer;
  transition: 0.4s;
}

.login-button:focus,
.login-button:hover {
  background: rgb(0 0 0 / 50%);
}

.button-group {
  display: flex;
  justify-content: center;
}

.button-registration {
  padding: 10px 20px;
  background: rgb(72 142 151 / 11%);
  box-shadow: 0px 4px 4px rgb(0 0 0 / 25%);
  backdrop-filter: blur(25px);
  -webkit-backdrop-filter: blur(25px);
  border-radius: 5px;
  font-family: sans-serif;
  letter-spacing: 1px;
  font-size: 22px;
  color: #00ffaa;
  transition: 0.4s;
}

.button-registration:hover,
.button-registration:focus {
  background: rgb(0 0 0 / 50%);
  color: #fff;
}

.input-login:focus~.label-login,
.input-password:focus~.label-password {
  top: -18px;
  font-size: 16px;
  color: #e0e0e0;
}

.input-login:hover~.label-login,
.input-login:not(:placeholder-shown)~.label-login,
.input-password:hover~.label-password,
.input-password:not(:placeholder-shown)~.label-password {
  top: -18px;
  font-size: 16px;
  color: #e0e0e0;
}

.authorization-fields {
  display: flex;
  flex-direction: column;
}

.login-restore-wrap {
  display: flex;
  justify-content: end;
}

.login-restore {
  border: none;
  background-color: transparent;
  cursor: pointer;
  font-size: 18px;
  margin-right: 10px;
  color: #04d491;
  transition: 0.3s;
}

.login-restore:hover,
.login-restore:focus {
  color: #fff;
}

.restore-form-content {
  opacity: 1;
  margin: 20px;
  position: relative;
  padding: 40px 40px 30px 40px;
  border-radius: 40px;
  box-shadow: 0 4px 16px #000;
  background: rgba(0, 0, 0, 0.41);
  backdrop-filter: blur(45px);
  -webkit-backdrop-filter: blur(45px);
}

.restore-header {
  display: flex;
  align-items: center;
  margin-bottom: 40px;
}

.restore-text-wrap {
  margin-right: 10px;
}

.restore__title {
  white-space: nowrap;
  color: #ffffff;
  font-size: 28px;
  margin-bottom: 15px;
}

.restore__text {
  color: #fff;
  font-size: 17px;
}

.restore-form {
  font-family: sans-serif;
  letter-spacing: 1px;
  margin-bottom: 15px;
}

.restore-group {
  position: relative;
  margin-bottom: 32px;
}

.input-restore-email {
  font-family: sans-serif;
  letter-spacing: 1px;
  font-size: 22px;
  width: 100%;
  padding: 5px;
  border: none;
  border-bottom: 1px solid #fff;
  outline: none;
  color: #E8E8E8;
  background: transparent;
}

.input-restore-email:focus {
  border-bottom: 1px solid #c5c579;
}

.label-restore-email {
  position: absolute;
  top: 8px;
  left: 10px;
  font-size: 18px;
  color: #fff;
  transition: 0.3s;
}

.input-restore-email:focus~.label-restore-email {
  top: -18px;
  font-size: 16px;
  color: #e0e0e0;
}

.input-restore-email:hover~.label-restore-email,
.input-restore-email:not(:placeholder-shown)~.label-restore-email {
  top: -18px;
  font-size: 16px;
  color: #e0e0e0;
}

.restore-prev {
  border: none;
  background: transparent;
  cursor: pointer;
  color: #04d491;
  font-size: 18px;
  color: #04d491;
  transition: 0.3s;
}

.restore-prev:hover {
  color: #fff;
}

/* Футер */
.login-footer {
  height: 50px;
  margin-top: -50px;
  opacity: 0.8;
  color: #fff;
  padding-top: 9px;

  /* background: rgba(255, 238, 226, 0.01); */
  background: rgb(0 0 0 / 24%);
  box-shadow: 0px 4px 4px rgb(0 0 0 / 25%);
  backdrop-filter: blur(25px);
  -webkit-backdrop-filter: blur(25px);
  box-shadow: inset 0 1px #fff;
}

.login-footer-info {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.login-footer-company {
  display: flex;
  flex-direction: column;
}

.login-footer__copyright {
  font-size: 14px;
}

.login-footer__agreement {
  position: relative;
  max-width: 260px;
  font-size: 15px;
}

.login-footer__contacts {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.login-footer__contacts-text {
  font-size: 16px;
}

@media (max-width: 1400px) {
  .login-main {
    background-position: 0 0;
  }
}

@media (max-width: 850px) {
  .login-page__logo-prev {
    margin-left: 4%;
  }

  .login-form-content {
    margin-top: 20px;
  }
}

@media (max-width: 775px) {
  .login-page__logo-prev {
    margin-top: 20px;
  }

  .login-page__logo-img {
    width: 150px;
  }

  .login-page__logo-prev {
    margin-left: 0;
    margin-right: 0;
  }

  .login-form-wrapper {
    flex-direction: column;
    align-items: center;
  }
}

@media (max-width: 540px) {
  .login-footer {
    height: 55px;
    margin-top: -55px;
    padding-top: 0px;
  }

  .login-button {
    padding: 10px 5px;
  }

  .button-registration {
    padding: 10px 5px;
  }

  .restore__title {
    white-space: normal;
  }

  .login-footer-info {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .login-footer-company {
    align-items: center;
  }

  .login-footer__contacts {
    align-items: center;
  }

  .login-footer__copyright {
    margin-bottom: 0;
  }

  .login-footer__contacts-text {
    margin-bottom: 0;
  }
}

@media (max-width: 400px) {
  .button-group {
    display: flex;
    flex-direction: column;
  }

  .login-button {
    margin-right: 0;
    margin-bottom: 10px;
  }
}